.hero-heading-image {
  max-width: 100px;
  width: 100%;
  margin-bottom: 40px;
}

.hero-subheading {
  color: white;
}

.hero-filter-input {
  width:50%;
  padding:1rem;
}

.hero-button-row {
  margin-top: 5rem;
}

.stores-button-row {
  height: 0;
}

.buttons-container {
  margin-bottom: 3rem;
}

.btn {
  background: #205081;
  padding: 10px 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  margin: 0.2rem;
  font-weight: bold;
}
.btn:focus {
  outline: 0;
  color: white;
}
.btn:hover {
  color: white;
}

.small-btn {
  background: #05182b;
  padding: 5px 10px;
  font-size:9px;
  line-height: 15px;
}

.feature-btn {
  background: #1F1F1F;
  border:solid 2px white;
}

.help-btn {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index:9999;
  height: 4rem;
}

.help-dialog {
  background-color: white;
  position: fixed;
  top: 6rem;
  right: 1rem;
  z-index:9999;
  border-radius: 1rem;
  padding: 1rem;
  width: 300px;
  border: solid 2px gray;
}

.help-btn i{
  font-size: 1.5rem;
}

.inactive-filter-btn {
  background: grey;
  opacity: 0.5;
  color: darkgray;
}

.game-image {
  height: 150px;
  width: 300px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.unclickable {
  cursor: default;
}

.update-text {
  display: block;
  color: white;
}

.update-text a {
  color: white;
}
