.class-row {
  width: 100%;
  border-bottom: solid 1px lightgray;
  display: flex;
}

.fa-class-icon {
  font-size: 25px;
  width: 35px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.class-row-character-name{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  font-weight: bold;
  font-size: 0.6rem;
}

.class-row-character-name h1 {
  text-align: left;
}

.class-row-divider {
  height: auto;
  margin: 1rem;
  color: black;
  border-left: 1px solid black;
  filter: brightness(0);
  display: flex;
  align-items: center; /* Vertical */
  justify-content: center; /* Horizontal */
}
